:root {
--basic-white: #FFFFFF;
--basic-black: #000000;
--basic-blue: #81B3D2;
--basic-brown: #766357;
--basic-grey: #EEEEEE;
--basic-gray95 :#F2F2F2;
}

.page-body{
  box-shadow: 0 0 30px 10px #dbdbdb;
  width: 1200px;
  margin: 0 auto;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.button{
  padding: 30px 0 30px 0;
  width: 568px;
  margin: 0 auto;
}
.button {
  font: inherit;
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--basic-brown);
  border: none;
}
body{
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans',sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color:var(--basic-black);
    text-transform: uppercase;
    background-color:var(--basic-white);
    min-height: 100%;
}

a{
    text-decoration: none;
}
.main-navigation{
  margin: 0;
  padding: 0 10px;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.site-navigation{
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 0;
  padding: 0 112px;
  list-style: none;
  margin-bottom: 10px;
  align-items: center;
}
.site-navigation a{
  color: var(--basic-black);
}

.site-navigation a:hover,.site-navigation a:focus{
  background-color: var(--basic-white);
}

.main-header-logo{
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
z-index: 5;
}

.preview-img{
  background-image: url(../img/background-main.jpg);
  background-repeat: no-repeat;
  background-position:center ;
  background-size: cover;
  text-align: center;
  background-color: var(--basic-grey);
  height: 580px;
  position: relative;
}
.preview-img::after{
content: "";
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 57px;
background: url(../img/white-bar.png) no-repeat 50% 50%;
}
.preview-foto{
  padding-bottom: 80px;
  padding-top: 76px;
}


.preview-text{
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 51px;
}

.preview-reson{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-top: 51px;
}
.preview-text{
  margin-top: 50px;
}

.features-item{
  list-style: none;
}

.features-site{
  margin: 0;
  padding: 0;
  list-style: none;
}
.clear-list{
  margin: 0;
  padding: 0;
  list-style: ;
}

.first-reason h2{
width: 153px;
margin: 0 auto 24px;
font-weight: 700;
font-size: 24px;
line-height: 21px;
text-align: center;
text-transform: uppercase;

}
.first-reason p{
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.first-reason{
  box-sizing: border-box;
  padding: 47px 49px 54px;
  width: 400px;
  height: 256px;
  color: white;
  background-color: var(--basic-blue);

}

.features-item-grey{
  list-style: none;
  background-color: var(--basic-grey);
}
.content-box{
  grid-template-columns: 1fr 1fr;
  display: grid;
}
.features-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 0px 81px 0;
  text-align: center;
}
.features-list p{
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14px;
}
.features-list h2{
  margin-top: 29px;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
}
.features-item{
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 380px;
}
.house{
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-top: 60px;
}
.burger-img{
  width: 74px;
  height: 70px;
  margin: 0 auto;
  margin-top: 61px;
}
.present{
  width: 64px;
  height: 77px;
  margin: 0 auto;
  margin-top: 55px;
}

.features-box{
  list-style: none;
  display: inline block;
  vertical-align: top;
  width: 380px;
}
.features-item-grey h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.second-reason{
  box-sizing: border-box;
  padding: 50px 49px 51px 50px;
  text-align: center;
  text-transform: uppercase;
  width: 400px;
  height: 256px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.features-item-grey{
  padding: 0;
  margin: 0;
  width: 1200px;
  height: 256px;
  background-color: var(--basic-gray95);
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}

.features-item-grey h3{
  width: 120px;
  margin: 30px auto;
}
.features-item-grey p{
  width: 256px;
  margin: 20px auto;
}
.features-number-grey{
  display: inline-block;
  width: 380px;
  vertical-align: top;
  box-sizing: border-box;
  margin-top: 20px;
}
.second-reason-image{
  height: 256px;
  padding: 0;
  margin: 0;
}

.interesting h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}
.interesting p {
  text-align: center;
}


.search-button{
  margin: 0 auto;
  position: relative;
  width: 568px;
  text-align: center;
}

.main-footer{
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
}
.contacts-phone{
  color: var(--basic-black);
}
.contacts-phone a:hover,
.contacts-phone a:focus{
  text-decoration: none;
}
.footer-social ul{
  list-style: none;
  background-color: var(--basic-blue);
}

.copyright .button:hover,
.copyright .button:focus{
  color:var(--basic-black);
  background-color: var(--basic-white);
}

.filter-box{
  height: 217px;
  display: flex;
  flex-direction: row;
  background-position: center;
  background-image: url(../img/backgroundhotel.jpg);
}
.fieldset-filter{
  color: var(--basic-white);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  border: 0;
  margin: 0;
  padding: 0;
}
.legend{
  font-size: 120px;
  text-transform: uppercase;
  color: var(--basic-white);
}
.checkbox-wrapper{
  width: 200px;
  margin-right: 55px;
  margin-top: 26px;
}
.checkbox-wrapper:first-child{
margin-left: 45px;
}
.fieldset-filter p{
  padding: 13px 3px 13px 32px;
  margin: 0px;
}
.legend-infrastructure{
  margin-left: 32px ;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
.legend-live{
  margin-left: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
.placeholder-color {
  background: transparent;
  border: none;
}
.placeholder-color::placeholder{
  color: var(--basic-white);
}
.prices{
position: relative;
display: flex;
border-radius: 2px;
border: 3px solid white;
height: 30px;
width: 317px;
align-items: center;
}
.prices::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 22px;
  background: white;
  transform: translate(-50%, -50%);
}

.price-wrapper p{
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  margin-top: 26px;
  margin-bottom: 13px;
  color: var(--basic-white);
}
.price-amount label{
  text-transform: uppercase;
  display: inline-block;
  width: 162px;
  font-size: 14px;
  line-height: 38px;
  cursor: pointer;
  color: var(--basic-white);
  text-align: center;
}
.price-amount input{
  width: 40px;
  height: 12px;
  font-size: 14px;
  line-height: 38px;
  margin: 0;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--basic-white);
}
.price-wrapper{
  margin-left: 255px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
.search{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 71px;
}
.search strong{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.search-item{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr ;
  list-style: none;
}
.search-arrow{
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}
}
.search ul{
  list-style: none;
  color:var(--basic-black);
}

.hotels-list-item h3{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-list{
  list-style: none;
}

.rating{
  background-color:var(--basic-gray95);
  line-height: 21px;
}

.reservation{
  background-color: var(--basic-brown);
  color:var(--basic-white);
  font-weight: 700;
}
.detail{
  background-color: var(--basic-blue);
  font-weight: 700;
  color:var(--basic-white);
}
.submit{
  padding: 7px 35px 8px 36px;
  margin: 55px;
  margin-left: 70px;
  margin-bottom: 3px;
  background: none;
  color: var(--basic-white);
  border: 3px solid white;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

