:root {
--basic-white: #FFFFFF;
--basic-black: #000000;
--basic-blue: #81B3D2;
--basic-brown: #766357;
--basic-grey: #EEEEEE;
--basic- :#F2F2F2;
}

body{
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: PT Sans;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color:#FFFFFF;
}

a{
    text-decoration: none;
}
.main-navigation{
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-navigation{
  list-style: none;
}

.site-navigation a{
  color: var(--basic-black);
}

.site-navigation a:hover,.site-navigation a:focus{
  background-color: var(--basic-white);
}
.features{
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
.features h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}
.features-list{
  list-style: none;
}

.features-item{
  list-style: none;
}

.features-item h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.features-item-grey{
  list-style: none;
  background-color: var(--basic-grey);
}

.features-item-grey h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.interesting h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}
.interesting p {
  text-align: center;
}


.buttom {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--basic-brown);
  border: none;
}
.main-footer{
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
}
.contacts-phone{
  color: var(--basic-black);
}
.contacts-phone a:hover,
.contacts-phone a:focus{
  text-decoration: none;
}
.footer-social img{
  list-style: none;
  background-color: var(--basic-blue);
}

.copyright .buttom:hover,
.copyright .buttom:focus{
  color:var(--basic-black);
  background-color: var(--basic-white);
}

.filter legend{
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul{
  list-style: none;
  font-size: 14px;
  line-height: 21px;
}

.search li{
  list-style: none;
  color:var(--basic-black);
}
.hotels-list-item h3{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotels-list-item{
  list-style: none;
}

.rating{
  background-color:  #F2F2F2;
  line-height: 21px;
}

.reservation{
  background-color: var(--basic-brown);
  color:var(--basic-white);
  font-weight: 700;
}
.detail{
  background-color: var(--basic-blue);
  font-weight: 700;
  color:var(--basic-white);
}


